@model List<WhatsIn.Models.ServiceModel>
<div>
    <div class="row">&nbsp;</div>
      @for (int i = 0; i < Model.Count(); i++)
        {
                var item = Model[i];
                var ctr = 0;
                if (Request.Browser.IsMobileDevice)
                {
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <span style="font-weight:bold; text-align:center;"><a href="@Url.Action("Details", "Results", new { s = item.Id })" style="color:#337ab7;" target="_blank" id="@item.Id"> @item.Name</a> </span><br /><br />
                            <span style="font-weight:bold; text-align:center;"> @item.Location </span><br /><br />
                            <img id="@item.Id" class="img-thumbnail imgService " alt="Add Image" />
                    </div>
                    </div><div class="row">&nbsp;</div>
                }
                else
                {
                    ctr = i % 3;

                    if (ctr == 0)
                    {
                        @:<div class="row">
                        }
                                  
                        <div class="col-xs-4 text-center">
                            <span style="font-weight:bold; text-align:center;"><a href="@Url.Action("Details", "Results", new { s = item.Id })" style="color:#337ab7;" target="_blank" id="@item.Id"> @item.Name</a> </span><br /><br />
                            <span style="font-weight:bold; text-align:center;"> @item.Location </span><br /><br />
                            <img id="@item.Id" class="img-thumbnail imgService " alt="Add Image" />
                        </div>
                    if ((i == Model.Count - 1) || (ctr == 2))
                    {
                            @:</div><div class="row">&nbsp;</div>
                        }
                }
                                
                                
            }
</div>